<img hfre>

# Part I: Research Question
<br><br>

## A.  Describe one question or decision that you will address using the data set you chose. The summarized question or decision must be relevant to a realistic organizational need or situation.
<br><br>
### **Which customers are churning and why?**
<br><br>

## B.  Describe the variables in the data set and indicate the specific type of data being described. Use examples from the data set that support your claims.
<br><br>

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [50]:
df = pd.read_csv('churn_raw_data.csv')

In [51]:
df.head()

,Unnamed: 0,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
0,1,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,171.449762,904.536110,5,5,5,3,4,4,3,4
1,2,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.948015,800.982766,3,4,3,3,4,3,4,4
2,3,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.440398,2054.706961,4,4,2,4,4,3,3,3
3,4,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,120.249493,2164.579412,4,4,4,2,5,4,3,3
4,5,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,150.761216,271.493436,4,4,4,3,4,4,4,5

In [54]:
df.shape

(10000, 52)

In [63]:
# Cite source
# https://stackoverflow.com/questions/49188960/how-to-show-all-of-columns-name-on-pandas-dataframe
pd.set_option('display.max_columns', None)

print(df)

      Unnamed: 0  CaseOrder Customer_id                           Interaction  \
0              1          1     K409198  aa90260b-4141-4a24-8e36-b04ce1f4f77b
1              2          2     S120509  fb76459f-c047-4a9d-8af9-e0f7d4ac2524
2              3          3     K191035  344d114c-3736-4be5-98f7-c72c281e2d35
3              4          4      D90850  abfa2b40-2d43-4994-b15a-989b8c79e311
4              5          5     K662701  68a861fd-0d20-4e51-a587-8a90407ee574
...          ...        ...         ...                                   ...
9995        9996       9996     M324793  45deb5a2-ae04-4518-bf0b-c82db8dbe4a4
9996        9997       9997     D861732  6e96b921-0c09-4993-bbda-a1ac6411061a
9997        9998       9998     I243405  e8307ddf-9a01-4fff-bc59-4742e03fd24f
9998        9999       9999     I641617  3775ccfc-0052-4107-81ae-9657f81ecdf3
9999       10000      10000      T38070  9de5fb6e-bd33-4995-aec8-f01d0172a499

              City State                 County    Zip       Lat        Lng  \
0      Point Baker    AK  Prince of Wales-Hyder  99927  56.25100 -133.37571
1      West Branch    MI                 Ogemaw  48661  44.32893  -84.24080
2          Yamhill    OR                Yamhill  97148  45.35589 -123.24657
3          Del Mar    CA              San Diego  92014  32.96687 -117.24798
4        Needville    TX              Fort Bend  77461  29.38012  -95.80673
...            ...   ...                    ...    ...       ...        ...
9995   Mount Holly    VT                Rutland   5758  43.43391  -72.78734
9996   Clarksville    TN             Montgomery  37042  36.56907  -87.41694
9997      Mobeetie    TX                Wheeler  79061  35.52039 -100.44180
9998    Carrollton    GA                Carroll  30117  33.58016  -85.13241
9999  Clarkesville    GA              Habersham  30523  34.70783  -83.53648

      Population      Area             Timezone  \
0             38     Urban        America/Sitka
1          10446     Urban      America/Detroit
2           3735     Urban  America/Los_Angeles
3          13863  Suburban  America/Los_Angeles
4          11352  Suburban      America/Chicago
...          ...       ...                  ...
9995         640     Rural     America/New_York
9996       77168     Rural      America/Chicago
9997         406     Rural      America/Chicago
9998       35575     Urban     America/New_York
9999       12230     Urban     America/New_York

                                    Job  Children   Age  \
0     Environmental health practitioner       NaN  68.0
1                Programmer, multimedia       1.0  27.0
2               Chief Financial Officer       4.0  50.0
3                             Solicitor       1.0  48.0
4                   Medical illustrator       0.0  83.0
...                                 ...       ...   ...
9995    Sport and exercise psychologist       3.0   NaN
9996          Consulting civil engineer       4.0  48.0
9997       IT technical support officer       NaN   NaN
9998                     Water engineer       1.0  39.0
9999                 Personal assistant       1.0  28.0

                           Education Employment    Income        Marital  \
0                    Master's Degree  Part Time  28561.99        Widowed
1        Regular High School Diploma    Retired  21704.77        Married
2        Regular High School Diploma    Student       NaN        Widowed
3                   Doctorate Degree    Retired  18925.23        Married
4                    Master's Degree    Student  40074.19      Separated
...                              ...        ...       ...            ...
9995  Some College, Less than 1 Year    Retired  55723.74        Married
9996     Regular High School Diploma  Part Time       NaN       Divorced
9997     Nursery School to 8th Grade  Full Time       NaN  Never Married
9998               Bachelor's Degree  Full Time  16667.58      Separated
9999   GED or Alternative Credential  Full Time       NaN  Never Married

      Gender Churn  Outage_sec_perweek  Email  Contacts  Yearly_equip_failure  \
0       Male    No            6.972566     10         0                     1
1     Female   Yes           12.014541     12         0                     1
2     Female    No           10.245616      9         0                     1
3       Male    No           15.206193     15         2                     0
4       Male   Yes            8.960316     16         2                     1
...      ...   ...                 ...    ...       ...                   ...
9995    Male    No            9.265392     12         2                     0
9996    Male    No            8.115849     15         2                     0
9997  Female    No            4.837696     10         0                     0
9998    Male    No           12.076460     14         1                     0
9999    Male    No           12.641760     17         1                     0

     Techie        Contract Port_modem Tablet InternetService Phone Multiple  \
0        No        One year        Yes    Yes     Fiber Optic   Yes       No
1       Yes  Month-to-month         No    Yes     Fiber Optic   Yes      Yes
2       Yes        Two Year        Yes     No             DSL   Yes      Yes
3       Yes        Two Year         No     No             DSL   Yes       No
4        No  Month-to-month        Yes     No     Fiber Optic    No       No
...     ...             ...        ...    ...             ...   ...      ...
9995    NaN  Month-to-month        Yes    Yes             DSL   NaN      Yes
9996    NaN        Two Year         No     No     Fiber Optic   NaN      Yes
9997     No  Month-to-month         No     No     Fiber Optic   Yes      Yes
9998     No        Two Year         No    Yes     Fiber Optic    No      Yes
9999    NaN  Month-to-month        Yes     No     Fiber Optic   Yes      Yes

     OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV  \
0               Yes          Yes               No          No          No
1               Yes           No               No          No         Yes
2                No           No               No          No          No
3               Yes           No               No          No         Yes
4                No           No               No         Yes         Yes
...             ...          ...              ...         ...         ...
9995             No          Yes              Yes          No          No
9996            Yes          Yes              Yes          No         Yes
9997            Yes          Yes               No          No          No
9998             No           No               No         Yes         Yes
9999            Yes          Yes              Yes          No          No

     StreamingMovies PaperlessBilling             PaymentMethod     Tenure  \
0                Yes              Yes   Credit Card (automatic)   6.795513
1                Yes              Yes  Bank Transfer(automatic)   1.156681
2                Yes              Yes   Credit Card (automatic)  15.754144
3                 No              Yes              Mailed Check  17.087227
4                 No               No              Mailed Check   1.670972
...              ...              ...                       ...        ...
9995              No               No          Electronic Check  68.197130
9996              No               No          Electronic Check  61.040370
9997              No              Yes  Bank Transfer(automatic)        NaN
9998             Yes              Yes   Credit Card (automatic)  71.095600
9999             Yes              Yes          Electronic Check  63.350860

      MonthlyCharge  Bandwidth_GB_Year  item1  item2  item3  item4  item5  \
0        171.449762         904.536110      5      5      5      3      4
1        242.948015         800.982766      3      4      3      3      4
2        159.440398        2054.706961      4      4      2      4      4
3        120.249493        2164.579412      4      4      4      2      5
4        150.761216         271.493436      4      4      4      3      4
...             ...                ...    ...    ...    ...    ...    ...
9995     159.828800        6511.253000      3      2      3      3      4
9996     208.856400        5695.952000      4      5      5      4      4
9997     168.220900        4159.306000      4      4      4      4      4
9998     252.628600        6468.457000      4      4      6      4      3
9999     218.371000        5857.586000      2      2      3      3      3

      item6  item7  item8
0         4      3      4
1         3      4      4
2         3      3      3
3         4      3      3
4         4      4      5
...     ...    ...    ...
9995      3      2      3
9996      5      2      5
9997      4      4      5
9998      3      5      4
9999      3      4      1

[10000 rows x 52 columns]

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 52 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10000 non-null  int64
 1   CaseOrder             10000 non-null  int64
 2   Customer_id           10000 non-null  object
 3   Interaction           10000 non-null  object
 4   City                  10000 non-null  object
 5   State                 10000 non-null  object
 6   County                10000 non-null  object
 7   Zip                   10000 non-null  int64
 8   Lat                   10000 non-null  float64
 9   Lng                   10000 non-null  float64
 10  Population            10000 non-null  int64
 11  Area                  10000 non-null  object
 12  Timezone              10000 non-null  object
 13  Job                   10000 non-null  object
 14  Children              7505 non-null   float64
 15  Age                   7525 non-null   float64
 16  Education             10000 non-null  object
 17  Employment            10000 non-null  object
 18  Income                7510 non-null   float64
 19  Marital               10000 non-null  object
 20  Gender                10000 non-null  object
 21  Churn                 10000 non-null  object
 22  Outage_sec_perweek    10000 non-null  float64
 23  Email                 10000 non-null  int64
 24  Contacts              10000 non-null  int64
 25  Yearly_equip_failure  10000 non-null  int64
 26  Techie                7523 non-null   object
 27  Contract              10000 non-null  object
 28  Port_modem            10000 non-null  object
 29  Tablet                10000 non-null  object
 30  InternetService       10000 non-null  object
 31  Phone                 8974 non-null   object
 32  Multiple              10000 non-null  object
 33  OnlineSecurity        10000 non-null  object
 34  OnlineBackup          10000 non-null  object
 35  DeviceProtection      10000 non-null  object
 36  TechSupport           9009 non-null   object
 37  StreamingTV           10000 non-null  object
 38  StreamingMovies       10000 non-null  object
 39  PaperlessBilling      10000 non-null  object
 40  PaymentMethod         10000 non-null  object
 41  Tenure                9069 non-null   float64
 42  MonthlyCharge         10000 non-null  float64
 43  Bandwidth_GB_Year     8979 non-null   float64
 44  item1                 10000 non-null  int64
 45  item2                 10000 non-null  int64
 46  item3                 10000 non-null  int64
 47  item4                 10000 non-null  int64
 48  item5                 10000 non-null  int64
 49  item6                 10000 non-null  int64
 50  item7                 10000 non-null  int64
 51  item8                 10000 non-null  int64
dtypes: float64(9), int64(15), object(28)
memory usage: 4.0+ MB

<img src="data_dictionary_1.png" width="750" height="750">
<img src="data_dictionary_2.png" width="750" height="750">
<img src="data_dictionary_3.png" width="750" height="750">

In [104]:
# Run this code for every data type to verify the data type
type(df.loc[2,'Tenure'])

numpy.float64

 **Unnamed:** Is an int that is a 1 based index that I intend to change to a zero based index.
 
 **CaseOrder:** Is an int that preserves the order of the original file.              
 
 **Customer_id:** Is an string that contains letters and numbers that is a unique identifier.   
 
 
 **Interaction:** Is an string that is a unique id that is related to customer interactions with the company through transactions, technical support and customer sign up.            
 
 **City:** Is a string that contains the customers city of residence that is listed on the billing statement. Categorical.                 
 
 **State:** Is a string that contains the customers state of residence that is listed on the billing statement. Categorical.                
 
 **County:** Is a string that contains the customers state of residence that is listed on the billing statement. Categorical.               
 
 **Zip:** Is an int that contains the customers zip code of residence that is listed on the billing statement. Categorical.                  
 
 **Lat:** Is an int that lists the latitude of the customers residence that is listed on the billing statement. Categorical.
 
 **Lng:** Is an int that lists the longitude of the customers residence that is listed on the billing statement. Categorical.                  
 
 **Population:** Is an int that lists the population within a mile radius based on census data. Quantitative.           
 **Area:**  Is a string that describes the area type based on census data. Either rural, urban or suburban. Categorical.
 
 **Timezone:** Is a strong of the time zone of the customer based on sign up information.              
 
 **Job:** Is a string that represents the employment of the person being invoiced at sign up time.                 
 
 **Children:** Is an integer that represents the number of children in the household at the time of signup.       
 
 **Age:** An int that represents the age of the customer at signup.
 
 **Education:** A string of the highest degree the customer had earned at signup.
 
 **Employment:** A string of the customers employment status at the time of signup.            
 
 **Income:** An int representing the income of the customer at signup.              
 
 **Marital:**  A string representing the marital status of the customer at signup.              
 
 **Gender:**   A string representing the gender of the customer. Either male, female or non-binary.             
 
 **Churn:** A string representing whether the customer has discontinued service within the last month.                  
 **Outage_sec_perweek:** An int representing the number of seconds per week of system outages in the customers neighborhood.    
 
 **Email:** An int representing the number of emails sent ot the customer in the last year via marketing or correspondence.                
 
 **Contacts:** An int representing the times a customer contacted customer support.             
 
 **Yearly_equip_failure:**  An int representing the number of times customers equipment failed and needed to be reset or replaced.
 
 **Techie:** Whether the customer considers themselves technically inclined per survey when they signed up.       
 
 **Contract:** A string representing the term of the contract. Month-month, one-year and two-year.              
 
 **Port_modem:** A string representing whether the customer has a portable modem or not.            
 
 **Tablet:** A string representing whether the customer has a portable modem or not.                
 
 **InternetService:** A string representing the customers type of internet service. DSL, fiber optic or none.     
 
 **Phone:** A string representing whether the customer has a phone or not.                 
 
 **Multiple:** A string representing whether the customer has multiple lines or not.              
 
 **OnlineSecurity:** A string representing whether the customer has online security add-on.        
 
 **OnlineBackup:** A string representing whether the customer has an online back-up add-on.          
 
 **DeviceProtection:** A string representing whether the customer has device protection add-on.      
 
 **TechSupport:** A string representing whether the customer has technical support add-on.           
 
 **StreamingTV:** A string representing whether the customer has streaming TV.           
 
 **StreamingMovies:** A string representing whether the customer has streaming movies.
 
 **PaperlessBilling:**  A string representing whether the customer has paperless billing.    
 
 **PaymentMethod:** A string representing the customers payment method and whether it is automatic or not.         
 
 **Tenure:** An int representing the number of months the customer has stayed with the provider.                
 
 **MonthlyCharge:** An int that is the average monthly bill the customer receives.         
 
 **Bandwidth_GB_Year:** An int that represents the average GB used per year by the customer.   
 
 ### Eight question customer survey 1 being most important and 8 being least important
 
 **item1:** Timely responses                 
 
 **item2:** Timely Fixes                 
 
 **item3:** Timely Replacements                 
 
 **item4:** Reliability                  
 
 **item5:** Options                 
 
 **item6:** Respectful response                 
 
 **item7:** Courteous exchange                 
 
 **item8:** Evidence of active listening

### Notes on Data:
#### Timezone is data based on sign up whereas other variables are based on the billing statement.
#### Analyzing customers who consider themselves techies and the amount of contacts to customer support.

# Part II: Data-Cleaning Plan
<br><br>

## C.  Explain the plan for cleaning the data by doing the following:


1.  Propose a plan that includes the relevant techniques and specific steps needed to identify anomalies in the data set.

<br><br>

2.  Justify your approach for assessing the quality of the data, include:

  characteristics of the data being assessed,

  the approach used to assess the quality.
  
<br><br>


3.  Justify your selected programming language and any libraries and packages that will support the data-cleaning process.
<br>
<br>



4.  Provide the code you will use to identify the anomalies in the data.

<br><br>

# Part III: Data Cleaning

## D.  Summarize the data-cleaning process by doing the following:

1.  Describe the findings, including all anomalies, from the implementation of the data-cleaning plan from part C.

2.  Justify your methods for mitigating each type of discovered anomaly in the data set.

3.  Summarize the outcome from the implementation of each data-cleaning step.

4.  Provide the code used to mitigate anomalies.

5.  Provide a copy of the cleaned data set.

6.  Summarize the limitations of the data-cleaning process.

7.  Discuss how the limitations in part D6 affect the analysis of the question or decision from part A.

## E.  Apply principal component analysis (PCA) to identify the significant features of the data set by doing the following:

1.  List the principal components in the data set.

2.  Describe how you identified the principal components of the data set.

3.  Describe how the organization can benefit from the results of the PCA

# Part IV. Supporting Documents

## F.  Provide a Panopto recording that demonstrates the warning- and error-free functionality of the code used to support the discovery of anomalies and the data cleaning process and summarizes the programming environment.
 

Note: For instructions on how to access and use Panopto, use the "Panopto How-To Videos" web link provided below. To access Panopto's website, navigate to the web link titled "Panopto Access", and then choose to log in using the “WGU” option. If prompted, log in using your WGU student portal credentials, and then it will forward you to Panopto’s website.
 

To submit your recording, upload it to the Panopto drop box titled “Data Cleaning – NUM2 \ D206” Once the recording has been uploaded and processed in Panopto's system, retrieve the URL of the recording from Panopto and copy and paste it into the Links option. Upload the remaining task requirements using the Attachments option.

## G.  Reference the web sources used to acquire segments of third-party code to support the application. Be sure the web sources are reliable.

## H.  Acknowledge sources, using in-text citations and references, for content that is quoted, paraphrased, or summarized.

## I.  Demonstrate professional communication in the content and presentation of your submission.